[workspace]
members = [
    "cmd",
    "crates/*",
    "helper",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = true

[workspace.dependencies]
actix-web = "4.9.0"
anyhow = "1.0.86"
aws-sdk-s3 = "1.43.0"
serde = { version = "1.0.205" }
serde_derive = "1.0.205"