s3domain = ["localhost:3000"]
region = "sfo3"
log_path = "/var/log/rust-gateway/rust-gateway.log"
access_log_path = "/var/log/rust-gateway/access.log"
access_log_format = "{combined}"
panic_log_path = "/var/log/rust-gateway/panic.log"
log_level = "debug"
pid_file = "/var/run/rust-gateway/rust-gateway.pid"
bind_api_address = "127.0.0.1:3000"
bind_admin_address = "0.0.0.0:9000"
iam_address = "http://127.0.0.1:8000"
admin_key = "secret"
ssl_key_path = ""
ssl_cert_path = ""
piggyback_update_usage = true

debug_mode = true
enable_pprof = false
pprof_listener = "0.0.0.0:8730"
reserved_origins = "s3.test.com,s3-internal.test.com"

# Meta Config
meta_cache_type = 2
meta_store = "postgresdb"
postgresdb_info = "postgres://postgres:postgres@postgres:5432/rust_s3?sslmode=disable"
keepalive = true
enable_compression = false
enable_usage_push = false
redis_address = "redis:6379"
redis_password = "hehehehe"
redis_connection_number = 10
memory_cache_max_entry_count = 100000
enable_data_cache = true
redis_connect_timeout = 1
redis_read_timeout = 1
redis_write_timeout = 1
redis_keepalive = 60
redis_pool_max_idle = 3
redis_pool_idle_timeout = 30

cache_circuit_check_interval = 3
cache_circuit_close_sleep_window = 1
cache_circuit_close_required_count = 3
cache_circuit_open_threshold = 1
cache_circuit_exec_timeout = 5
cache_circuit_exec_max_concurrent = -1

db_max_open_conns = 10240
db_max_idle_conns = 1024
db_conn_max_life_seconds = 300

download_buf_pool_size = 8388608 #8MB
upload_min_chunk_size = 524288 #512KB
upload_max_chunk_size = 8388608 #8MB
