[package]
name = "storage"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
aws-sdk-s3 = { workspace = true }
s3api = { path = "../s3api" }
s3err = { path = "../s3err" }
